<% if current_user %>
	<div class="align"><p>Your Token is <h4><%= @auth['credentials']['token'] %></h4></p></div>
	<div class="spinner">
	  <div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	</div>
	<p class="align">Processing...</p>
<% end %>

